/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar styles */
.navbar {
    margin-bottom: 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar:hover {
    background-color: #343a40;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Card styles */
.card {
    border-radius: 10px;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 1s forwards;
}

.card-img-top {
    height: auto;
    width: 100%;
    max-width: 300px;
}

.card-text {
    font-size: 1.1rem;
    color: #333;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Fade-in animation for profile image */
.profile-img {
    opacity: 0;
    animation: fadeIn 1s forwards;
    transition: transform 0.3s ease-in-out;
}

.profile-img:hover {
    transform: rotate(360deg);
}

/* Responsive design */
@media (max-width: 767.98px) {
    .card-text {
        font-size: 1rem;
    }
}
